body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3c7ab;
}

.bg1 {
  background-color: #d3c7ab;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg2 {
  background-color: #bfc1c7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg3 {
  background-color: #d3c7ab;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg4 {
  background-color: #bfc1c7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organization-item {
  background-color: #f9f9f9;
}
.organization-item:hover {
  background-color: #be7c18;
  /* cursor: pointer; */
}

.about-section {
  position: relative;
  text-align: center; /* Centre le texte horizontalement */
}

.about-background {
  width: 100%;
  height: auto; /* Assurez-vous que l'image couvre la largeur */
  opacity: 10; /* Vous pouvez ajuster l'opacité pour améliorer la visibilité du texte */
}

.about-text-container {
  position: absolute;
  top: 40%; /* Centrer verticalement */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Changer selon la couleur de votre choix */
  /* Ajouter plus de styles si nécessaire */
}

.about-text-container h1 {
  font-size: 35px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 10px;
}
